
h1= title

#aboutContainer

    #core

        .who Marcin
            Code, design, overlong ramblings.

        .who Andrew
            Design, art, Bothans.

    #support
    
        .who Nathan
            Purveyor of fine logics.

        .who Ewa
            Snark.