
h1.pageTitle= title

#aboutContainer

    #core Marcin
        .what Code, design, overlong ramblings.

    #core Andrew
        .what Design, art, Bothans.

    #support Nathan
        .what Purveyor of fine logics.

    #support Ewa
        .what Snark.