
h1 Simplest Entry Form Ever

#entryForm
    form(action='/posts', method='POST')
        p Header: 
            input(name='header', id='header', type='text', size='100')
        p Content: 
            textarea(name='content', id='content', cols=80, rows=10)
        p Auth: 
            input(name='password', id='password', type='password')
        p Submit 
            input(type='submit', value='Pony Express!')