
h1= title

script(type-'text/javascript', src='http://webplayer.unity3d.com/download_webplayer-3.x/3.0/uo/UnityObject2.js')
script(type='text/javascript').
	var config = {
		width: 960, 
		height: 600,
		params: { enableDebugging:"0" }
		
	};
	var u = new UnityObject2(config);

	u.observeProgress(function (progress) {
		switch(progress.pluginStatus) {
			case "broken":
				u.installPlugin();
				return false;
			break;
			case "missing":
				u.installPlugin();
				return false;
			break;
			case "installed":
			break;
			case "first":
			break;
		}
	});
	u.initPlugin(jQuery("#unityPlayer")[0], "resources/unity/Builds.unity3d");
		

#gameContainer
	.content
		#unityPlayer