
h1= title

#tags
    #tagHeader Tags
    - for (var key in tags)
        .tag= tags[key]
#articles
    - for (var key in output)
        .article
            .title= output[key].header
                .tags Tags:
                    = output[key].tags
            .body= output[key].content