
h1= title
#articles
    - for (var key in output)
        .article
            .title= output[key].header
                .tags Tags:
                    = output[key].tags
            .body= output[key].content