body {
  font-family: "Helvetica Neue", "Lucida Grande", "Arial";
  font-size: 13px;
  text-align: center;
  text-stroke: 1px rgba(255, 255, 255, 0.1);
  color: #555;
}

#navi {
  position: absolute;
  top: 5;
  left: 5;
}

h1, h2 {
  margin: 0;
  font-size: 22px;
  color: #343434;
}

A {
  color: #5EC4BA;
}

#articles .article .body img {
  width: 600px;
  height: 400px;
}

h1 {
  text-shadow: 1px 2px 2px #ddd;
  font-size: 60px;
}

#sidebar {
  width: 200px;
  float: right;
  border-left: 3px solid #bbb;
  margin-left: 20px;
}

#tags {
  width: 200px;
  margin-bottom: 10px;
}

#archives {
  width: 200px;  
}

#archives a {
  display: block;
}

#archiveHeader {
  font-weight: bold;
  font-size: 22px;  
}

#tagHeader {
  font-weight: bold;
  font-size: 22px;
}

#tags .tag {
  font-size: 16px;
  line-height: 150%;
}

#articles {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 720px;
}

#articles .article {
  margin: 20px;
}

#articles .article .tags {
  font-style: italic;
  padding: 3px;
  font-size: 90%;
}

#articles .article .date {
  font-size: 80%;
  float: right;
}

#articles .article .title {
  padding: 5px;
  padding-left: 3px;
  font-weight: bold;
  font-size: 120%;
  text-decoration: underline;
  background-color: #eee;
}

#articles .commentCount {
  float: right;
  decoration: none;
  font-style: italic;
  font-size: 80%;
  margin-right: 10px;
}

#articles .article .body {
  padding: 5px;
  line-height: 130%;
}

#gameContainer {
  margin: 20px auto;
  border: 1px solid black;
}